* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    height: 100vh;
    background-color: #9CB4CC;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
}

.cards {
    position: relative;
    width: 500px;
    height: 550px;
    border: 15px solid #E7F6F2;
    border-radius: 7px;
    background-color: #D0C9C0;
    box-shadow: 0 0 35px 5px #35353551;
    transform: rotateY(0);
    transition: transform 1s;
    transform-style: preserve-3d;
}

.cards:hover {
    transform: rotateY(180deg);
    transition: transform 1.5s;
    cursor: pointer;
}

.cards:hover .card {
    filter: contrast(130%);
}

.card {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: filter .7s;
}

.front--card {
    background: url('https://images.pexels.com/photos/4553618/pexels-photo-4553618.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat center/cover;
}

.back--card {
    transform: rotateY(180deg);
    background: url('https://images.pexels.com/photos/1252500/pexels-photo-1252500.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat center/cover;
}